body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(216, 91, 139);
}

#myH1{
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: rgb(154, 44, 91);
}
#display{
    font-size: 3rem;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: oblique;
}
#controls button{
    font-weight: bold;
    padding: 10px 10px;
    margin: 5px;
    min-width: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(255, 254, 255);
    transition: background-color 0.5s ease;
}

#startBtn{
    background-color:rgb(125, 1, 67);
}
#startBtn:hover{
    background-color:rgba(125, 1, 67, 0.29);
}
#stopBtn{
    background-color:rgb(91, 24, 60);
}
#stopBtn:hover{
    background-color:rgba(91, 24, 60, 0.29);
}
#resetBtn{
    background-color:rgb(48, 12, 31);
}
#resetBtn:hover{
    background-color:rgba(48, 12, 31, 0.29);
}